.ant-layout-sider-children {
  background-color: #c4c4c4;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  font-size: 30px;
}
.ant-layout-sider-zero-width-trigger {
  top: 0;
}

.ant-popover-message-title {
  padding-left: 5px;
}
